.myApp {
  text-align: center;
  padding: 10px;   
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.text-left {
  text-align: left; 
}

.button-navbar {
  margin-right: 10px;  
  font-size: 20px;
}

.footer-chirry {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
